* {
  font-family: "Comic Sans MS", "Times New Roman", sans-serif;
}

.hidden {
  display: none;
}

#mocktail_page {
	background-color:#AAEEEE;
}

.mocktail {
	width:300px;
	height:300px;
}

.mocktailImgDiv {
	float:left;
}

.recipe {
	float:left;
	margin-left:50px;
  padding:10px;
	background-color:#FFFF99;
	width:800px;
}

.recipeRow{
  height:425px;
}

.breaker {
	clear:both;
}

body{
  width:1200px;
}
h1 {
  text-align:center;
  font-size: 2.5rem;
}
h2 {
	text-align:center;
  font-size: 2rem;
  color: #FF00FF;
}
h3 {
  font-size: 1.75rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
}
hr {
  margin-top: 45px;
}
li {
  font-size: 1.5rem;
}

.h2recipe {
  text-align:center;
  font-size: 1.5rem;
  color: #FF00FF;
}
.h3recipe {
  font-size: 1.25rem;
}
.precipe {
  font-size: 1.15rem;
}
.lirecipe {
  font-size: 1.15rem;
}

/* Add button stylings for some links */
.btn-blue {
  background-color: blue;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  padding: 15px;
}

.btn-green {
  background-color: green;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  padding: 15px;
}

.btn-gold {
  background-color: gold;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  padding: 15px;
}

.btn-orange {
  background-color: orange;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  padding: 15px;
}

.btn-purple {
  background-color: #FF00FF;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  padding: 15px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 16px;
  width:14.2857143%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(202, 167, 51);
  color: white;
}

.lacroixboi {
	text-align: center;
}

#scrollable-content {
	height: 800px;
	width: 600px;
  overflow: auto;
}

/* Add a white background and some margins to center content blocks */
.content {
  width: 80%;
  background-color: #fff;
  border: thin solid #FF00FF;
  padding: 20px;
  margin: 20px auto;
}
